#topH1{
  font-family: 'Tangerine', cursive;
  text-align: center;
}

.center{
  text-align: center;
}
  #hpimage{
    max-width: 100%;
    height: auto;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .footer {
    /* position: fixed; */
    padding-top: 10px;
    margin-top: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    border-radius: 4px ;
    box-shadow: 5px 10px;
}


/*SIGN IN PAGE*/
.login-form, .add-form, .update-form, .delete-form {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  font-size: 15px;
}
.login-form form, .add-form form, .update-form form, .delete-form form {
  margin-bottom: 15px;
  padding: 30px;
}
.login-form h2, .add-form h2, .update-form h2, .delete-form h2 {
  margin: 0 0 15px;
}
.form-control, .btn {
  min-height: 38px;
  border-radius: 2px;
}
.btn {        
  font-size: 15px;
  font-weight: bold;
}

/*Package Page*/
.indPackage{
  margin-bottom: .5em;
  border: 1px white solid;
  list-style-type: none;
  flex: 1 1 auto;
  text-align: center;
  /* margin-right: 5px; */
  margin-top: 30px;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
 }

#packageImg {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
max-width: 200px;
box-shadow: 0 1px 10px  rgb(255, 255, 255);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.formatCurrency::before{content: "$";}

.packageNames{
  font-family: 'Tangerine', cursive;
  font-size: xxx-large;
}



/*package Management page*/
#inventoryDisplay{ 
  margin-top: 30px;
  margin-left: -10px;
  border-collapse: separate;
  border-spacing: 10px;
}