<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body>
  <header>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <main>
    <div>     
      <img src="/home.jpg" id="hpimage" class="center">
    </div>
  </main>
  <footer class="footer">
    <%- include ("../partials/footer.ejs") %>
  </footer>
</body>

</html>
