<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>
  <h1 id="topH1">HannahMacPhotography</h1>
  <%- include ("../partials/nav.ejs") %>
<div>     
  <img src="/home.jpg" id="hpimage" class="center">
</div>


</body>
</html>
