<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body>
  <header>
    <h1 id="topH1">HannahMacPhotography</h1>
    <%- include ("../partials/nav.ejs") %>
  </header>
  <main>
      <h1>Packages</h1>
    <div>
        <%= test %>    
    </div>
  </main>
  <footer class="footer">
    <%- include ("../partials/footer.ejs") %>
  </footer>
</body>

</html>